{#
/**
 * @file
 * Project Grid.
 *
 * Basic Page Banner for the project grid.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - project_grid_featured_image: The featured image.
 * - project_grid_year: This is the project year.
 */
#}
{%- set attributes = attributes.addClass(['su-project-item su_projects__item', modifier_class]) -%}

{# If the featured image is empty, create a class. #}
{%- if project_grid_featured_image|render|striptags('<drupal-render-placeholder><img><picture>')|trim is empty -%}
  {%- set attributes = attributes.addClass('su-project-grid-image__empty')  -%}
{%- endif %}

{# Unique id for the title for A11y labels #}
{% set headline = project_grid_title|render_clean %}
{% if headline is not empty %}
  {% set headingID = getUniqueId(headline|render) %}
{% endif %}

{% set node_id = project_grid_title['#row']._entity.id() %}
{% set project_url = path('entity.node.canonical', {'node': node_id}) %}

<a {{ attributes }} {% if headingID %}aria-labelledby="{{ headingID }}"{% endif %} href = "{{ project_url}}">
  <article>
    <div class = "su_projects__image">
      {% set media_entity = project_grid_featured_image['#row']._entity.sdss_proj_featured_image.entity %}

      {% if media_entity %}
        {# 2. Get the Image Field from inside that Media Entity #}
        {# Note: Media types usually use 'field_media_image' or 'field_sdss_proj_featured_image' #}
        {# We'll try the standard 'field_media_image' first #}
        {% set image_field = media_entity.field_media_image.0 %}
        
        {# Fallback: If your Media type uses a different name, adjust 'field_media_image' below #}
        {% if image_field.entity %}
          {% set image_url = file_url(image_field.entity.uri.value) %}
          {% set image_alt = image_item.alt %}
        {% endif %}
      {% endif %}
      <div class = "su_projects__image__inner" style = "background-image: url('{{ image_url }}')" role = "image" alt = "{{ image_alt }}"></div>
      <div class = "su_projects__flagship"><span class = "su_projects__flagship__bold">Status:</span>  {{ project_grid_status|render_clean }}</div>
    </div>
    
    <h4>{{ project_grid_title|render_clean }}</h4>
  </article>
</a>
