{#
/**
 * @file
 * Available variables:
 *
 * site_logo: Logo for site as defined in Appearance or theme settings.
 * site_name: Name for site as defined in Site information settings.
 * site_slogan: Slogan for site as defined in Site information settings
 * content: Containts the above vars with more information.
 * lockup: Settings from the theme.
 * use_logo: Setting from the theme
 * configuration: More settings from the theme.
 * - id: "system_branding_block"
 * - label: "Site Branding"
 * - use_site_logo: boolean
 * - use_site_name: boolean
 * - use_site_slogan: boolean
 */
#}

{# Set some of the default options for the lockup. #}
{% set attributes = attributes|without('class') %}
{% set link = url('<front>') %}

{% set site_title = content.site_name %}
{% if lockup.line1 is not empty %}
  {% set site_title = lockup.line1 %}
{% endif %}

{% if site_logo or site_name %}

  <div {{ attributes }} class="sdss-lockup">
  {% if site_logo %}
    <div class="sdss-lockup-logo">
      <a href="{{ link }}" {{ link_attributes }}>
      {# If the theme has a custom logo use that #}
      {% if site_logo|render|striptags|trim is not empty and use_logo == false %}
        <img src="{{ site_logo }}" alt="{{ site_name }}" class="sdss-lockup-logo-img" />
      {% else %}
        <img src="/{{ directory }}/dist/img/sdss-lock-up-color.png" alt="{{ site_name }}" class="sdss-lockup-logo-img" />
      {% endif %}
      </a>
    </div>
  {% endif %}

  {% if site_name and site_title is not empty %}
    <div class="sdss-lockup-title">
      <a href="{{ link }}" {{ link_attributes }}>
        {{ site_title }}
      </a>
    </div>
  {% endif %}
  </div>

{% endif %}
