{#
/**
 * @file
 * Available variables:
 *
 * site_logo: Logo for site as defined in Appearance or theme settings.
 * site_name: Name for site as defined in Site information settings.
 * site_slogan: Slogan for site as defined in Site information settings
 * content: Containts the above vars with more information.
 * lockup: Settings from the theme.
 * use_logo: Setting from the theme
 * configuration: More settings from the theme.
 * - id: "system_branding_block"
 * - label: "Site Branding"
 * - use_site_logo: boolean
 * - use_site_name: boolean
 * - use_site_slogan: boolean
 */
#}

{# Set some of the default options for the lockup. #}
{% set attributes = attributes|without('class') %}
{% set link = url('<front>') %}

{# The variant classes change when there is more than one line to render. #}
{% set modifier_class = "su-lockup--option-a" %}

{# Do not default the line 1 on variant O, S, or T #}
{% set line1 = content.site_name %}

{# Grab the site1 variable if it is not empty #}
{% if lockup.line1 is not empty %}
  {% set line1 = lockup.line1 %}
{% endif %}

<div {{ attributes }} class="su-lockup {{ modifier_class }}">
  <a href="{{ link }}" {{ link_attributes }}>

  {#- Cell container #1 -#}
  <div class="su-lockup__cell1">
    {# If the theme has a custom logo use that #}
    <div class="su-lockup__logo-wrapper">
    {% if site_logo|render|striptags|trim is not empty and use_logo == false %}
      <img src="{{ site_logo }}" alt="{{ site_name }}" class="su-lockup__custom-logo" />
    {% else %}
      <img src="/{{ directory }}/dist/img/sdss-lock-up-color.png" alt="{{ site_name }}" class="su-lockup__custom-logo" />
    {% endif %}
    </div>
  </div>

  {#- Cell container #2 -#}
  {% if line1 is not empty %}
    <div class="su-lockup__cell2">
      <span class="su-lockup__line1" {{ region_attributes.line1 }}>{{ line1 }}</span>
    </div>
  {% endif %}

  </a>
</div>
