{#
/**
 * @file
 * Test Framework template.
 */
#}

{%- extends "@stanford_basic/page.html.twig" -%}

{# Masthead Section. #}
{%- block block_header -%}
  {%- if page.header or page.search or page.menu -%}
    <header class="su-masthead su-masthead--right">

      {% block block_skiplinks %}
        <a href="#main-content" class="visually-hidden focusable su-skipnav su-skipnav--content">
          {{ 'Skip to main content'|t }}
        </a>
        <a href="#secondary-navigation" class="visually-hidden focusable su-skipnav su-skipnav--secondary">
          {{ 'Skip to secondary navigation'|t }}
        </a>
      {% endblock %}

      {# Brand Bar #}
      {%- block block_brandbar -%}
        {%- include template_brand_bar with { modifier_class : brand_bar_variant } -%}
      {%- endblock -%}

      {# Help Section #}
      {%- block block_help -%}
        {{ page.help }}
      {%- endblock -%}

      {%- if header_layout_variant == 'option_a' -%}
        {% include '@sdss_subtheme/templates/header--option-a.html.twig' %}
      {%- else -%}
        {% include '@sdss_subtheme/templates/header--default.html.twig' %}
      {%- endif -%}
        </header>
      {%- endif -%}

  {# Newsroom Section. #}
  {%- if page.newsroom -%}
    <section class="newsroom-wrapper" aria-labelledby="news-research">
      {{ page.newsroom }}
    </section>
  {%- endif -%}

{%- endblock -%}

{%- block block_main -%}

  {% set topics = [ 
    { 'slug': 'biotechnology', 'title': 'Biotechnology' },
    { 'slug': 'built-environment', 'title': 'Built environment' },
    { 'slug': 'built-environment2', 'title': 'Built environment' },
    { 'slug': 'built-environment3', 'title': 'Built environment' },
    { 'slug': 'built-environment4', 'title': 'Built environment' },
    { 'slug': 'built-environment5', 'title': 'Built environment' },
    { 'slug': 'built-environment6', 'title': 'Built environment' },
    { 'slug': 'built-environment7', 'title': 'Built environment' },
    { 'slug': 'built-environment8', 'title': 'Built environment' },
    { 'slug': 'built-environment9', 'title': 'Built environment' },
    { 'slug': 'built-environment10', 'title': 'Built environment' },
  ] %}

  {% set impactPathways = [ 
    { 'slug': 'policy', 'title': 'Policy' },
    { 'slug': 'technology-commercialization', 'title': 'Technology & Commercialization' },
    { 'slug': 'other-enablers', 'title': 'Other Enablers' },
  ] %}

  {% set status = [ 
    { 'slug': 'active', 'title': 'Active' },
    { 'slug': 'graduated', 'title': 'Graduated' },
  ] %}

  {% set projects = [
    { 'link': '#', 'title': 'Ocean carbon capture and alkalinity enhancement', 'image': '/{{ directory }}/dist/img/temp/image1.jpg', 'flagship': 'Water' },
    { 'link': '#', 'title': 'Making Zero-carbon Cement at Scale', 'image': '/{{ directory }}/dist/img/temp/image2.jpg', 'flagship': 'Food and Agriculture' },
    { 'link': '#', 'title': 'A Blue Food Transformation for the Pacific', 'image': '/{{ directory }}/dist/img/temp/image3.jpg', 'flagship': 'Water' },
    { 'link': '#', 'title': 'Electrochemical Nutrient Recovery from Wastewater: Creating Circular Nutrient Economies', 'image': '/{{ directory }}/dist/img/temp/image4.jpg', 'flagship': 'Water' },
    { 'link': '#', 'title': 'Designing Efficient and Sustainable Water Reallocation in California', 'image': '/{{ directory }}/dist/img/temp/image5.jpg', 'flagship': 'Water' },
    { 'link': '#', 'title': 'Achieving the Human Right to Water in California', 'image': '/{{ directory }}/dist/img/temp/image6.jpg', 'flagship': 'Water' },
    { 'link': '#', 'title': 'Partnering with Domestic and International Players For More-Effective Energy-Transition Policies and Financing in Indonesia and Vietnam', 'image': '/{{ directory }}/dist/img/temp/image7.jpg', 'flagship': 'Water' },
    { 'link': '#', 'title': 'Performance-based co-design of natural ventilation systems  to reduce cooling demand and improve thermal comfort in South East Asia', 'image': '/{{ directory }}/dist/img/temp/image8.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
    { 'link': '#', 'title': 'Accelerator for Environmental Justice (EJ) at Stanford', 'image': '/{{ directory }}/dist/img/temp/image9.jpg', 'flagship': 'Climate Adaptation' },
  ]%}

  {% set flagships = [] %}
  {% for project in projects %}
    {% if project['flagship'] not in flagships %}
      {% set flagships = flagships|merge([project['flagship']]) %}
    {% endif %}
  {% endfor %}

  <div class = "su_projects">
    <div class = "su_projects__main">
      <div class = "su_projects__header">
        <h2>Projects</h2>
        <div class = "su_projects__toggle">
          <div class = "su_projects__toggle--grid">
            <img src="/{{ directory }}/dist/img/toggle-grid.svg" alt="" class="off" />
            <img src="/{{ directory }}/dist/img/toggle-grid-on.svg" alt="" class="on" />
          </div>
          <div class = "su_projects__toggle--list">
            <img src="/{{ directory }}/dist/img/toggle-list.svg" alt="" class="off" />
            <img src="/{{ directory }}/dist/img/toggle-list-on.svg" alt="" class="on" />
          </div>
        </div>
      </div>

      <div class = "su_projects__grid">

        {% set x = 1 %}
        {% set overflow = false %}

        {% for project in projects %}

            {% if x == 10 %}
              {% set overflow = true %}
              <div class = "su_projects__grid__overflow">
            {% endif %}

            <a href = "{{ project['link'] }}" class = "su__projects__grid__item">
              <div class = "su__projects__image" style = "background-image: url('{{ project['image'] }}')">
                <div class = "su__projects__flagship"><b>Flagship:</b> {{ project['flagship'] }}</div>
              </div>
              <h2>{{ project['title'] }}</h2>
            </a>

            {% set x = x + 1 %}

        {% endfor %}

        {% if overflow %}
          </div>
          <div class = "su_projects__grid__showmore">Show more</div>
        {% endif %}
      </div>

      <div class = "su_projects__list">

        {% for flagship in flagships %}

          <div class = "su_projects__list__item">

            <h3>{{ flagship }}</h3>

            <div class = "su_projects__list__projects">

              {% for project in projects %}

                {% if project['flagship'] == flagship %}

                  <a href = "{{ project['link'] }}" class = "su__projects__list__item">
                    <div class = "su__projects__image" style = "background-image: url('{{ project['image'] }}')">
                    </div>
                    <h2>{{ project['title'] }}</h2>
                  </a>

                {% endif %}

              {% endfor %}

            </div>

          </div>

        {% endfor %}

      </div>

    </div>

    <div class = "su_projects__sidebar">
      <div class = "su_projects__search">
        <input type = "text" id = "su_projects_search" placeholder = "Search" />
      </div>

      <!-- Topics -->
      <div class = "su_projects__sidebar__section">
        <h3>Topics</h3>
        <div class = "su_projects__checklist">

          {% set x = 1 %}
          {% set overflowCount = 0 %}
          {% set overflow = false %}

          {% for term in topics %}

            {% if x == 7 %}
              {% set overflow = true %}
              <div class = "su_projects__checklist__overflow">
            {% endif %}

            <div class = "su_projects__checkbox">
              <input type = "checkbox" id = "su_topics_{{ term['slug'] }}" />
              <label for = "su_topics_{{ term['slug'] }}">{{ term['title'] }}</label>
            </div>

            {% if overflow %}
              {% set overflowCount = overflowCount + 1%}
            {% endif %}

            {% set x = x + 1 %}

          {% endfor %}

          {% if overflow %}
            </div>
            <div class = "su_projects__checklist__showmore">See {{ overflowCount }} more</div>
          {% endif %}

        </div>
      </div>

      <!-- Impact Pathways -->
      <div class = "su_projects__sidebar__section">
        <h3>Impact Pathways</h3>
        <div class = "su_projects__checklist">

          {% set x = 1 %}
          {% set overflowCount = 0 %}
          {% set overflow = false %}

          {% for term in impactPathways %}

            {% if x == 7 %}
              {% set overflow = true %}
              <div class = "su_projects__checklist__overflow">
            {% endif %}

            <div class = "su_projects__checkbox">
              <input type = "checkbox" id = "su_impact-pathways_{{ term['slug'] }}" />
              <label for = "su_impact-pathways_{{ term['slug'] }}">{{ term['title'] }}</label>
            </div>

            {% if overflow %}
              {% set overflowCount = overflowCount + 1%}
            {% endif %}

            {% set x = x + 1 %}

          {% endfor %}

          {% if overflow %}
            </div>
            <div class = "su_projects__checklist__showmore">See {{ overflowCount }} more</div>
          {% endif %}

        </div>
      </div>

      <!-- Status -->
      <div class = "su_projects__sidebar__section">
        <h3>Status</h3>
        <div class = "su_projects__checklist">

          {% set x = 1 %}
          {% set overflowCount = 0 %}
          {% set overflow = false %}

          {% for term in status %}

            {% if x == 7 %}
              {% set overflow = true %}
              <div class = "su_projects__checklist__overflow">
            {% endif %}

            <div class = "su_projects__checkbox">
              <input type = "checkbox" id = "su_status_{{ term['slug'] }}" />
              <label for = "su_status_{{ term['slug'] }}">{{ term['title'] }}</label>
            </div>

            {% if overflow %}
              {% set overflowCount = overflowCount + 1%}
            {% endif %}

            {% set x = x + 1 %}

          {% endfor %}

          {% if overflow %}
            </div>
            <div class = "su_projects__checklist__showmore">See {{ overflowCount }} more</div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block block_footer -%}
  <footer id="footer">
    {{ page.footer }}
    {%- include template_global_footer with { modifier_class : global_footer_variant }  -%}
  </footer>
  {% include '@sdss_subtheme/templates/components/popup/su-popup.html.twig' %}
{%- endblock -%}
