{# views-view--projects.html.twig #}
{# Use the 'attributes' variable to ensure Drupal's JS can find the view #}
<div{{ attributes.addClass('view', 'js-view-dom-id-' ~ dom_id) }}>
  
    <header class="view-header">
        {% set current = view.element['#view_mode_toggle']|default('grid') %}
        {% set target = (current == 'grid') ? 'list' : 'grid' %}
        <div class="project-grid-header">
            <h2>Projects</h2>
            <a href="/projects?view_mode_toggle={{ target }}" class="btn view-mode-toggle" aria-label="Show as {{ target|capitalize }}">
                <img src="/{{ directory }}/dist/img/toggle-{{ target }}.svg" alt="">
            </a>
        </div>
    </header>

    {{ exposed }}

    {# Custom wrapper for the results #}
    <div class="view-results-wrapper">
        {{ rows }}
        {{ empty }}
    </div>

    {{ pager }}
    {{ footer }}
</div>
